<a href="https://colab.research.google.com/github/tanyakaur2160-source/python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hi how are you")
print("Tanya Kaur")

hi how are you
Tanya Kaur

In [ ]:
x="tanya"
print("name:",x)

name: tanya

In [ ]:
print("           BIO DATA           ")
print("Name:            Tanya Kaur")
print("Father name:     Gurpreet Singh")
print("Date of Birth:   21/12/2003")
print("Email id:        kaurtanya2021@gmail.com")
print("Gender:          Female")
print("Mobile no:       6283632025")
print("Qualification:   Bachelors in computer applications")
print("Language know:   English, Hindi, Punjabi")
print("Religion:        Sikh")
print("Maritial status: Unmarried")
print("Nationality:     Indian")

           BIO DATA
Name:            Tanya Kaur
Father name:     Gurpreet Singh
Date of Birth:   21/12/2003
Email id:        kaurtanya2021@gmail.com
Gender:          Female
Mobile no:       6283632025
Qualification:   Bachelors in computer applications
Language know:   English, Hindi, Punjabi
Religion:        Sikh
Maritial status: Unmarried
Nationality:     Indian

In [ ]:
name="Tanya"
print("name:",name)

name: Tanya

In [ ]:
a=5
b=6
print("sum is:",a+b)
print("subtraction is:",a-b)
print("division is:",a/b)
print("multiplication is:",a*b)
print("remainder is:",a%b)
print(f"sum is {a+b}")
print(f"subtraction is {a-b}")

sum is: 11
subtraction is: -1
division is: 0.8333333333333334
multiplication is: 30
remainder is: 5
sum is 11
subtraction is -1

In [ ]:
item1="samosa"
price_of_item1=50
item2="pizza"
price_of_item2=500
item3="burger"
price_of_item3=100
total_bill=price_of_item1+price_of_item2+price_of_item3
print(total_bill)

discount_percent=20
discount=total_bill*discount_percent/100
payable_bill=total_bill-discount
print(payable_bill)

650
520.0

In [5]:
item1="Ice creme"
price_of_item1=100
item2="Cake"
price_of_item2=600
item3="Pizza"
price_of_item3=300
item4="Patty"
price_of_item4=50
item5="chocolate"
Price_of_item5=150
item6="Pasta"
price_of_item6=350
total_bill=price_of_item1+price_of_item2+price_of_item3+price_of_item4+Price_of_item5+price_of_item6
print(total_bill)

discount_percent=25
discount=total_bill*discount_percent/100
payable_bill=total_bill-discount
print(payable_bill)


p=1162
r=10
t=2
simple_interest=p*r*t/100
print("simple interest:",simple_interest)

1550
1162.5
simple interest: 232.4

In [9]:
p=int(input("Enter principle amount: "))
r=int(input("Enter rate: "))
t=int(input("Enter time: "))
si=p*r*t/100
print("Simple interest is:",si)
payable_amt=p+si
print("total amount: ",payable_amt)

Enter principle amount: 1000
Enter rate: 10
Enter time: 3
Simple interest is: 300.0
total amount:  1300.0

In [13]:
name=input("Enter your name: ")
age=int(input("Enter your age: "))
father_name=input("enter your father's name: ")
qualification=input("enter your qualification: ")
mother_name=input("enter your mother's name: ")
city=input("enter your city: ")
date_of_birth=input("enter your date of birth:")
Mobile_no=int(input("enter your mobile number: "))
gender=input("enter your gender: ")

Enter your name: tanya
Enter your age: 22
enter your father's name: Gurpreet singh
enter your qualification: BCA
enter your mother's name: Kanchan bala
enter your city: Mohali
enter your date of birth:21-12-2003
enter your mobile number: 6283632025
enter your gender: female

In [15]:
item1=input("Enter the item 1: ")
price1=int(input("Enter price: "))
item2=input("Enter the item 2: ")
price2=int(input("Enter price: "))
item3=input("Enter the item 3:")
price3=int(input("Enter price:"))
total=price1+price2+price3
print("total amount",total)
discount=int(input("Enter discount: "))
discount=total*discount/100
print("discount is:",discount)

Enter the item 1: pizza
Enter price: 340
Enter the item 2: burger
Enter price: 200
Enter the item 3:chips
Enter price:30
total amount 570
Enter discount: 10
discount is: 57.0